* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Calibri, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
	line-height: 1.5;
	background: black;
	color: white;
}
h1 {
	padding: 0 0.5ex;
	font-size: 200%;
}
form {
	border-top: 2px solid silver;
	background: white;
	color: #444;
	padding: 1ex;
}
form p {
	margin: 0 0 1ex 0;
}
form ul#responders, ul#ping-results {
	list-style: none;
}
form input {
	vertical-align: baseline;
}
form input[type=text] {
	border: 1px solid silver;
	font-size: 150%;
	width: 30em;
}
form input[type=submit] {
	font-size: 150%;
}
form label {
	display: block;
}
form ul label {
	display: inline;
}
address {
	padding: 1.5ex;
	font-style: normal;
	font-size: 75%;
}
address a {
	color: orange;
}
ul#ping-results .success {
	background: transparent url(images/smile.png) left center no-repeat;
	padding-left: 24px;
	color: #080;
}
ul#ping-results .failure {
	background: transparent url(images/sad.png) left center no-repeat;
	padding-left: 24px;
	color: #800;
}
